<h1>Service: {{serving.property}}</h1>
<h3>Comments:</h3>
{{#each model as |comment|}}
  <div class="comment">
    <h4>{{comment.content}}</h4>
    <p>{{comment.author}}, Votes: {{comment.votes}}</p>
    <button {{action 'upVote' comment}}>UpVote</button>
    <button {{action 'downVote' comment}}>DownVote</button>
  </div>
{{/each}}
