{{#if editMode}}
  <form class="editQuestionForm">
    <label for="content">Whats your question?</label>
    {{input value=model.content}}
    <label for="author">Who are you?</label>
    {{input value=model.author}}
    <label for="notes">Any additional notes?</label>
    {{input value=model.notes}}
    <button {{action 'saveEditQuestion' model}}>Save your edits!</button>
  </form>
{{else}}
  <div class="question">
    <p>{{author}} asks:</p>
    <p>{{model.content}}</p>
    <p>Extra details: {{model.notes}}</p>
  </div>
  <button {{action 'activateEditMode'}}>Edit this question</button>
{{/if}}
{{comment-list model=model.answers upVote="upVote" downVote="downVote"}}
